body {
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: ivory;
  font-family: "Open Sans"
}

h1, h2 {
  font-family: "Oswald";
}

img {
  float: left;
  margin-right: 10px;
}

.leftColumn {
  float: left;
  width: 300px;
  padding: 1em;
}
.rightColumn {
  float: right;
  width: 300px; 
  padding: 1em;
}

.centerColumn {
  width: 300px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 1em;
}

#navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navBar li {
  display: inline;
  align-content: center;
}

#navBar a {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

h1.fancy {
  font-family: Edwardian Script ITC; 
  font-size: 50pt; 
  text-align: center;
  line-height: 135%;
}

h2.chapter {
  font-size: 30pt;
  text-align: center;
}

a.left {
  float: left;
  font-weight: bold;
}

a.right {
  float: right;
  font-weight: bold;
}